<mat-toolbar class="class">
<span>
    <a routerLink="/">
        <span>Cheval</span>
    </a>
</span>
<span>
    <a *ngIf="isAuthenticated" routerLinkActive="active-link" routerLink="/posts">
        <span>Blog</span>
    </a>
    <a *ngIf="!isAuthenticated" routerLinkActive="active-link" routerLink="/login">
        <span>Connexion</span>
    </a>
    <a *ngIf="isAuthenticated" (click)="logout()" routerLinkActive="active-link" routerLink="/login">
        <span>Déconnexion</span>
    </a>
    <a *ngIf="!isAuthenticated" routerLinkActive="active-link" routerLink="/signup">
        <span>Inscription</span>
    </a>
</span>
</mat-toolbar>
