<form [formGroup]="signupForm" (ngSubmit)="signup()" novalidate>
    <mat-form-field>
        <mat-label>Prénom</mat-label>
        <input matInput placeholder="Exe. Ausar Dupays" formControlName="name"/>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput placeholder="Exe. adupays@votremessagerie.com" formControlName="email"/>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Mot de Passe</mat-label>
        <input matInput type="password" placeholder="Exe. Adp123!_!" formControlName="password"/>
    </mat-form-field>
    <button color="accent" [disabled]="!signupForm.valid" mat-raised-button type="submit"> <span>Inscription</span></button>
</form>